You will need to install requests if not already done so
to do this, go into the terminal and enter "pip install requests"
you will also need to install pygame by entering "pip install pygame"
as well as "pip install pathlib"
